{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row my-5">
            <div class="col-md-12 text-center">
                <h2>Découvrez toutes nos offres !</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                {% for offer in offer_list %}    
                    <a href="/offer">
                        <div class="card m-2 shadow border-0">
                            <div class="card-body">
                                <h3 class="card-title h5">{{ offer.title }}</h3>
                                <p class="card-subtitle mb-2 text-muted h6">{{ offer.company }}</p>
                                <p class="card-subtitle mb-2 fst-italic text-muted h6">{{ offer.ville }}</p>
                                <div class="d-flex justify-content-between" >
                                    <span class="fs-6 fw-light">{{ offer.date }}</span>
                                    <span class="fs-6 fw-light">{{ offer.contrat }} / {{ offer.duree }}</span>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
